@charset "UTF-8";

/*
    em HTML é id    / em CSS é # (só pode um elemento)
    em HTML é class / em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(204, 241, 189);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 105, 9);
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 105, 9);
    color: white;
}

h2 {
    color: rgb(12, 36, 8);
}

.basico {
    color: rgb(2, 185, 17);
}

.intermediario {
    color: rgb(189, 192, 1);
}

.avancado {
    color: rgb(211, 4, 4);
}

.destaque {
    background-color: rgb(193, 216, 138);
}