@charset "UTF-8";

/* PALETA DE CORES
    #4be5f5
    #7e72fc
    #e673cf
    #fc9d72
    #f5ca36
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(#d8abcf, #7e72fc);
}

main {
    background-color: #f5e6f0;
    border-radius: 10px;
    box-shadow: 5px 10px 50px #46408f;
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1 {
    color: #F5CA36;
    text-align: center;
    text-shadow: 1px 1px 2px #645215c7;
}

h2 {
    color: #E673CF;
    text-shadow: 1px 1px 2px #924984be;
}

p {
    text-align: justify;
    color: rgb(29, 25, 25);
    text-shadow: 1px 1px 2px #312e2e34;
}