@charset "UTF-8";

.container {
    display: flex;
    width: 800px;
    height: 400px;
    background-color: lightgray;
    border: 1px solid gray;
    margin: 0 auto;
}

.item {
    flex: 1 0 calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: tomato;
    transform: translateX(-800px);
}